* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}


body {
  font-family: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #1c1e21;
  line-height: 1.35;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background: #f0f2f5;  
}

.content {
  width: 100%;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left {
  flex: 1 1 55%;
}

.logo {
  font-weight: 700;
  color: #1877f2;
  font-size: 64px;
  letter-spacing: -1px;
  margin-bottom: 18px;
}

.lead {
  color: #050505;
  font-size: 26px;
  max-width: 480px;
}

.right {
  flex: 0 0 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-top: 60px;
}

.card {
  background: #fff;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 18px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#email,
#password {
  padding: 12px 14px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  font-size: 15px;
  outline: none;
}

.btn {
  padding: 10px 14px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.btn.primary {
  background: #1877f2;
  color: #fff;
  width: 100%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05) inset;
}

.forgot {
  display: block;
  text-align: center;
  font-size: 13px;
  color: #1877f2;
  text-decoration: none;
  margin-top: 6px;
}

.foot{
  border-top: 1px solid #e6eaf0;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.btn.create {
  background: #42b72a;
  color: #fff;
  width: 65%;
  margin-top: 20px;
  margin-bottom: 14px;
}

.create-page {
  font-size: 13px;
  color: #606770;
  text-align: center;
  max-width: 320px;
}

.footer {
  padding: 18px 16px;
  background: transparent;
  text-align: left;
  font-size: 12px;
  color: #65676b;
  border-top: none;
  width: 1120px;
  align-self: center;
}

.footer .languages {
  margin-bottom: 10px;
  color: #90949c;
  font-size: 13px;
}

.footer-links {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-bottom: 8px;
  border-top: 1px solid #e6eaf0;
}

.footer-links a {
  color: #90949c;
  text-decoration: none;
  font-size: 12px;
  padding: 2px 4px;
}

#meta {
  color: #90949c;
  text-decoration: none;
  font-size: 12px;
  padding: 2px 4px;
}

.footer .copyright {
  color: #90949c;
  font-size: 12px;
  margin-top: 4px;
}